.b-azul {
    background-color: $c-azul !important;
}

.b-azul-oscuro {
    background-color: $c-azul-oscuro !important;
}

.b-rojo {
    background-color: $c-rojo !important;
}

.b-morado {
    background-color: $c-morado !important;
}

.b-verde {
    background-color: $c-verde !important;
}

.b-gris {
    background-color: $c-gris !important;
}

.b-naranja {
    background-color: $c-naranja !important;
}

.b-gris-oscuro {
    background-color: $c-gris-oscuro !important;
}
