ayuda-page {
    .descripcion {
        margin: 125px auto 0;
        padding: 20px;
        text-align: justify;
        font-family: 'Montserrat';
        font-size: 18px;
        @include respond-to("mobile") {
            margin-top: 105px;
            width: 100%;
            font-size: 16px;
            padding: 15px;
        }
    }
    .destacado {
        color: $c-verde-oscuro;
        font-weight: 600;
    }
    .lnk-wrapper {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        .titulo-haciendo {
            font-size: 28px;
            font-weight: 600;
            padding: 10px;
            width: 90%;
            color: $c-verde-oscuro;
            @include respond-to("mobile-mini") {
                font-size: 17px;
            }
            img {
                width: 40px;
                margin-right: 10px;
                vertical-align: middle;
                @include respond-to("mobile") {
                    margin-right: 10px;
                }
            }
        }
    }
    .cuenta-usuarios {
        display: flex;
        justify-content: center;
    }
    .usuario {
        text-align: center;
        width: 50%;
        @include respond-to("mobile") {
            padding: 0 10px;
        }
        img {
            width:120px;
        }
       .numero {
           margin-top: -20px;
       }
    }
}