image-gallery {
    .content-gallery {
        height: 600px;

        ion-slides .swiper-container {
            height: 700px;

            ion-slide.swiper-slide {
                align-self: center;

                img {
                    width: calc(100% - 10px);
                    border: 1px solid $c-gris-oscuro;
                }
            }
        }

        &--modal {
            ion-slides .swiper-container {
                background-color: $c-gris-suave;

                ion-slide.swiper-slide {
                    max-height: initial;

                    img {
                        border: none;
                        padding: 100px 10px 170px 10px;
                        height: 700px;
                        width: auto;
                    }
                }

                .swiper-pagination {
                    bottom: 68px;
                }
            }
        }
        .scroll-content {
            margin-top:0px;
        }
        .swiper-pagination-bullet-active {
            background: $c-verde-oscuro;
        }
    }
}