image-gallery {
    .content-gallery {
        height: 600px;

        ion-slides .swiper-container {
            height: 700px;

            ion-slide.swiper-slide {
                align-self: center;

                img {
                    width: calc(100% - 10px);
                    border: 1px solid $c-gris-oscuro;
                }
            }
        }
        .scroll-content {
            margin-top:0px;
        }
        .swiper-pagination-bullet-active {
            background: $c-verde-oscuro;
        }
    }
}