contacto-page {
    .lnk-wrapper {
        text-align: center;
        margin-bottom: 15px;
        .titulo-haciendo {
            font-size: 24px;
            font-weight: 600;
            width: 90%;
            color: $c-verde-oscuro;
            @include respond-to("mobile-mini") {
                font-size: 17px;
            }
            img {
                width: 80px;
                margin-right: 10px;
                vertical-align: middle;
                @include respond-to("mobile") {
                    margin-right: 10px;
                }
            }
        }
    }

    .leyenda {
        float: right;
    }
    .btn-wrapper {
        margin-top:50px;
        text-align: center;
        .btn-enviar {
            width: 200px;
            text-align: center;
            background: $c-verde-oscuro;
            color: $c-blanco;
        }
    }

    .btn-secondary-wrapper {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 16px;
        button {
            margin-top:10px;
            height: 30px;
            font-size: 16px;
        }
        ion-icon {
            margin-right: 10px;
        }
    }

    .success-wrapper {
        text-align: center;
        font-size: 18px;
    }
}