<ion-header>
    <ion-navbar class="custom-container">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <div class="header-block" (click)="openPage('HomePage')">
            <img src="assets/imgs/logos/logo.png" />
            <div class="header-titles">
                <div translate class="header-title">CUIDA A TUS VECIN@S</div>
                <div translate class="header-subtitle">Haz barrio</div>
            </div>
            <div class="idioma">
                <span (click)="changeLang('es')" [ngClass]="{ 'lang-selected' : langSelected == 'es'}">ES</span>|
                <span (click)="changeLang('eu')" [ngClass]="{ 'lang-selected' : langSelected == 'eu'}">EU</span>
            </div>
        </div>
    </ion-navbar>
</ion-header>