custom-header {
    .icon {
        color: $c-verde-oscuro;
        width: 70%;
    }

    .header-block {
        padding-top: 10px;
        text-align: center;
        cursor: pointer;
        @include respond-to("mobile") {
            text-align: start;
        }

        img {
            display: inline-block;
            vertical-align: top;
            height: auto;
            margin-right: 20px;
            width: 100px;
            @include respond-to("mobile") {
                margin-right: 10px;
                width: 90px;
            }
            @include respond-to("mobile-mini2") {
                width: 80px;
            }
            @include respond-to("mobile-mini") {
                margin-right: 6px;
                width: 70px;
            }
        }

        .header-titles {
            display: inline-block;
            font-weight: 600;

            @include respond-to("mobile") {
                width: 68%;
            }
            @include respond-to("mobile-mini3") {
                width: 65%;
            }
   
            .header-title {
                color: $c-verde-oscuro;
                font-size: 45px;
                font-family: 'BrainFlowerEuro';

                @include respond-to("mobile") {
                    font-size: 28px;
                }
                @include respond-to("mobile-mini3") {
                    font-size: 28px;
                }
                @include respond-to("mobile-mini2") {
                    font-size: 27px;
                }
                @include respond-to("mobile-mini") {
                    margin-bottom: 0px;
                    font-size: 26px;
                }
            }

            .header-subtitle {
                display: inline;
                color: $c-negro;
                font-size: 28px;
                font-family: 'FoxInTheSnow';
                @include respond-to("mobile") {
                    font-size: 24px;
                }
                @include respond-to("mobile-mini2") {
                    font-size: 22px;
                }
            }
        }

        .idioma {
            position: absolute;
            bottom: 5px;
            right: 0px;
            cursor: pointer;
            font-size: 16px;
            float: right;

            @include respond-to("mobile") {
                font-size: 12px;
            }
            @include respond-to("mobile-mini") {
                bottom: 0px;
            }

            span {
                margin: 10px;

                &.lang-selected {
                    font-weight: bold;
                }
            }
        }

    }
}