<ion-header>
    <ion-navbar class="custom-container">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <div class="header-block" (click)="openPage('HomePage')">
            <img src="assets/imgs/logos/logo.png" />
            <div class="header-titles">
                <div class="header-title"><span translate>CUIDA A TUS VECIN@S</span></div>
                <div class="header-subtitle"><span translate>Haz barrio</span></div>
            </div>
            <div class="idioma">
                <span (click)="changeLang('es')" [ngClass]="{ 'lang-selected' : langSelected == 'es'}">CAST</span>|
                <span (click)="changeLang('eu')" [ngClass]="{ 'lang-selected' : langSelected == 'eu'}">EUSK</span>
            </div>
        </div>
    </ion-navbar>
</ion-header>