.modal-wrapper {
  .toolbar {
      .toolbar-title {
          color: $c-negro;
          font-size: 22px;
      }
      .bar-buttons .icon {
          font-size: 24px;
          font-weight: bold;
      }
  }
}
