h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: $font-family-headings !important;
    font-weight: 600 !important;
}

h1, .h1 {
    color: $c-negro !important;
    font-size: 24px !important;
}

h2, .h2 {
    color: $c-negro !important;
    font-size: 18px !important;
}
