<div class="footer" [ngClass]="{'footer--interior': interior==true }">
    <div class="c-container">
        <img alt="logo pacto" class="logo" src="assets/imgs/logos/pacto-del-mayor.png" (click)="goNavarra()">
        <img alt="logo maratxa" class="logo" src="assets/imgs/logos/maratxa.png" (click)="goNavarra()">
        <div class="right">
            <div class="rrss">
                <ion-icon name="logo-facebook" (click)="goFacebook()"></ion-icon>
                <ion-icon name="logo-twitter" (click)="goTwitter()"></ion-icon>
                <ion-icon name="logo-youtube" (click)="goYoutube()"></ion-icon>
            </div>
        </div>
    </div>
</div>