.footer {
    text-align: center;
    z-index: 10000000;
    width: 100%;
    background-color: $c-gris-muy-claro;
    border-top: 0.1em solid $c-gris;
    position: sticky;
    bottom: 0;
    height: 100px;
    padding:10px;

    @include respond-to("mobile") {
        z-index: 1;
    }

    &--interior {
        @include respond-to("mobile") {
            position: static;
        }
    }

    .logo {
        margin-right: 20px;
        height: 60px;
        width: auto;
        cursor: pointer;

        @include respond-to("mobile") {
            margin-right: 0px;
        }

        @include respond-to("mobile-mini3") {
            height: 50px;
        }

        @include respond-to("mobile-mini2") {
            height: 50px;
        }
    }


    .rrss {
        text-align: center;
        ion-icon {
            color: #333;
            line-height: 45px;
            font-size: 22px;
            margin-right: 5px;
            cursor: pointer;
        }
    }

}